.help {
    background-image: #0C0B0B;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
    padding-top: 100px;
    position : relative;
}


.help .container{
    padding-top: 100px;
    min-height: 80vh;
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 1400px) {
    .help .container {
        width: 1100px;

    }
}

.text {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 380px;
}

.ticketsContainer{
    display: flex;
    justify-content: right;
    width:600px;
}
.ticket{
    border-radius: 10px;
}
.links{
    display: flex;
    justify-content: flex-start;
    height: 30px;
    column-gap: 30px;
    margin-bottom: 25px;
}

.link {
    height: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #FFFFFF;

    text-decoration: none;
    transition-duration: 0,5s;

}
.superCont{
    display:inline-block;
}
.link:hover{
    font-family: 'Ubuntu', sans-serif;
    color: crimson;
    font-weight:400;
    text-decoration: none;
    cursor: pointer;
}

.active{
    height: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #FFFFFF;
    border-bottom: 2px crimson solid;
    text-decoration: none;
}
.active:hover{
    height: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-bottom: 5px;
    color: #FFFFFF;
}
.p{
    height: 17px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding-bottom: 50px;
    color: #FFFFFF;
}
.h1{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}
.simple{
    margin-bottom: 0px;
    margin-left: 5px;
}
.p1{
    width: 100%;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    /* or 21px */


    /* Наборный текст */

    color: #BCBCBC;
}
.form{
    display:inline-block;
}
.itemContainer{
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}
.item{
}
.message{
    display: inline-block;
    width:100%;
    margin-bottom: 20px;
}
.authText{
    display: flex;

}
.authText1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.input{
    display: block;
    width: 150px;
    padding: 5px;
    height: 30px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input::placeholder{
    color: #000000;
    opacity: 0.4;
    padding-left: 0px;
}
.input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.buttonContainer{
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
}
.button{
    width: 150px;
    height: 35px;
    color: #fff;
    font-size: 20px;
    background: #1c501c;
    border-radius: 10px;
}
.button:hover{

    opacity: 70%;
}