.AboutUs {
    margin-top: 100px;
    padding: 0px 0 0px 0;
    background-color: #121212;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.superCont{
    align-items: center;
    justify-content: center;

}
.container{
    min-height: 80vh;
    width: 1280px;
    overflow: hidden;
    display: flex;
    padding-top: 100px;
}

@media (max-width:1280px) {
    .AboutUs .container{
        width: 900px;
    }
    .AboutUs .mainImage{
        width: 50%;
        height: 40%;
    }
}

.tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, #e30d0d -10.91%, purple 101.58%);
    font-size: 30px;
    margin-bottom: 16px;
    border-radius: 20px;
    display: inline-block;
}
.h1 {
    font-size: 55px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.wrap{
    color: #8a1212;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.7em;
    outline: none;
    animation:  animate 5s linear infinite;

}

@keyframes animate {
    0%{
        color: #8a1212;
        box-shadow: none;
    }
    100%{
        color: white;
        text-shadow:0 0 10px #d30e0e,
        0 0 20px #d30e0e,
        0 0 40px #d30e0e,

    }
}
.p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
    margin-top: 50px;
}
.a{
    text-decoration: none;
    color: #FFFFFF;
}
.a:hover{
    color: white;
}
.button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 30px;
    letter-spacing: 0.8px;
    column-gap: 10px;
    display: flex;
    align-items: center;
}

.mainImage {
    width: 30%;
    height: 60%;
    border-radius: 200px;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}
