.Confirmation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}
.img{
    width: 50px;
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 300px;
}