.slider {
    padding: 0 0 50px 0;
    position: relative;
    margin-top: 0px;
    margin-bottom: 100px;
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid red;
    border-image: linear-gradient(to right, red, purple);
    border-image-slice: 1;
    border-radius: 100px;
    padding: 30px;
    width: 150px;
    margin-bottom: 10px;
}
.textWrap{
    word-wrap: normal;
}
.bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}
.h2 {
    font-size: 45px;
    font-weight: 700;
}
.p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.sliderMain {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.image {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 150px;
}
.back {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}