.banner {
    background-color: #121212;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow:hidden;
    padding-top: 100px;
    position : relative;
}
.rows {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-right : 30px;

}
.rows1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-left : 30px;


}


.banner .container{
    min-height: 80vh;
    max-width: 1280px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    padding: 100px;
    align-items: center;
    justify-content: space-between;
}

.places{
    display: inline-block;
    justify-content: center;
    align-content: center;
}
.head{
    display: inline-flex;
    margin-bottom: 30px;
    margin-left: 20px;
}
.screen{
    background-color: #efe6e6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 140px;
    width: 100%;
    margin-bottom: 15px;
    transform: rotateX(-50deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.left{
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
}
.seat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.choose {
   margin-top: 20px;
}
.choose1 {
    margin-top: 20px;
    display: inline-flex;
}

.marg{
    margin-right: 50px;
}

.choice{
    display: flex;
    justify-content: center;
    align-content:center;
}

.green{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.red{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.s{
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #1c501c;
    border-radius: 20px;
    background-color: #1c501c;
    transition: background 0.2s ease;
}
.s1{
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border: 1px solid #8a1212;
    border-radius: 20px;
    background-color: #8a1212;
    transition: background 0.2s ease;
}

.span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 5px;
    border: 1px solid #1c501c;
    border-radius: 20px;
    background-color: #1c501c;
    transition: background 0.2s ease;
}

.p{
    font-size: 1.2em;
    padding-top: 10px;

}
.places1 {
    display: inline-block;
}

.selected{
    background-color: #3e4d9d;
}

.row{
    display: flex;
    border-bottom : none;
    border-top: none;
    margin-right: 35px;
}
.buttonRow{
    border-left: 1px solid rgba(175, 175, 175, 0.47);
    border-right:1px solid rgba(175, 175, 175, 0.47);
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom:1px solid rgba(175, 175, 175, 0.47);
}


@media (max-width: 1440px) {
    .banner .container {
         transform: scale(0.8);
         padding: 0;
    }
}

.button{
    margin-top: 20px;
    border-radius: 20px;
    width: 250px;
    height: 40px;
    background-color: #1c4f1d;

}
.button:hover{
    opacity: 90%;

}
.link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 0.8px;
    font-size: 18px;
    text-decoration: none;
}